@import url("https://indestructibletype.com/fonts/Jost.css");
@import "./variables.css";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* Jost is now the default for the entire project */
    font-family: "Jost", sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ensures all headers use the default Jost */
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}